body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0; /* optional: light background */
}
.wrapper{
    display: flex;
   
    align-items: center;
    justify-content: center;
    width: 500px; /* or any width you prefer */
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

label{
    width: 200px;
    float: left;
  
    top: 10px;
}
input{
    padding: 5px 5px 12px 5px;
    border-radius: 11%;
    width: 200px;
    border: 1px solid black;
}
#submit{
    margin-left: 200px;
    padding: 5px;
    width: 70px;
}
#showConfirmPassword,#showPassword{
   width: 20px;
   margin-left: 150px;
}